<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Sorteos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Sorteos</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ingresá entre que números vas a sortear</strong>
    <div class="col-md-6">
      <ion-item>
        <ion-input type="number" value=0 [(ngModel)]="inicio"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="number" value=10 [(ngModel)]="final"></ion-input>
      </ion-item>
    </div>
  </div>
</ion-content>
